img {
    height: 100%;
    object-fit: cover;
    object-position: 0% 100%;
}

.header-container{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: rgb(107, 243, 253);
}

.welcome-tag {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    width: 100%
}


.headers {
    position: relative;
    width: 100%;
}

.main-title {
    font-size: 3rem;
    color: #fff;
}