.card{
    position: relative;
    height: 650px;
    max-width: 400px;
    width: auto;
    margin: 20px;
    border-radius: 20px 20px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #e2e2e2;
}

.card-image{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
}

.card-title{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}

.card-description{
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.card-year{
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 16px;
    font-style: italic;
}

.card-button{
    position: absolute;
    left: 10px;
    bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff5010, #ffad06);
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.card-button:hover{
    background-image: linear-gradient(to right, #fa703e, #dec000);
    box-shadow: 3px 3px 5px #000000;
    transition: 0.2s;
}

@media only screen and (max-width: 480px) {

     .card{
        height: 600px;
        margin: 0px;
     }

     .card-button{
        bottom: 50px;
        padding: 10px;
    }
}