.circle-1 {
    width: 75px;
    aspect-ratio: 1;
    border: 15px solid #FF9900;
    border-radius: 50%;
}

.circle-2 {
    width: 75px;
    aspect-ratio: 1;
    border: 15px solid #007ABF;
    border-radius: 50%;
}

.rectangle {
    width: 150px;
    height: 75px;
    background-color: #FF9900;
}


.timeline-content {
    position: relative;
    background-color: red;
}