.circle-1 {
    position: relative;
    left: 10px;
    width: 75px;
    aspect-ratio: 1;
    border: 15px solid #FF9900;
    border-radius: 50%;
}

.circle-2 {
    position: relative;
    right: 10px;
    width: 75px;
    aspect-ratio: 1;
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,0) 45%, rgba(0,122,191,1) 47%, rgba(82,169,214,1) 80%, rgba(220,249,255,1) 100%);
    background-size: contain;
    border-radius: 50%;
    overflow: hidden;

}
//#007ABF
.line-content {
    position: relative;
    margin: auto;
    width: 90%;
    height: 30px;
    background-color: #FF9900;
}



.timeline-bar {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    //background-color: yellow;
}
